/*content样式开始，头部和尾部样式已记录在base.css*/
.content .product01{height:240px; background:url(../img/hr.jpg) no-repeat; padding:50px 0 0 16px;}

.content .news{height:200px; background:url(../img/hr.jpg) no-repeat; padding:50px 0 0 16px;}
.title{margin:0 0 15px 0; height:30px; line-height:30px;}
.title .span01{font:20px "微软雅黑"; color:#4e5b70;}
.title .span02{font:italic 16px "Arial"; color:#d2d1d1; margin:0 0 0 10px;}
.news ul{ width: 210px; float:left; margin:0 26px 0 0; display:inline;}
.news ul a{display:block; width:210px; font:14px "微软雅黑"; color:#ff3366; margin:0 0 10px 0;} 
.news ul a img{height:15px; margin:0 10px 0 0;}
.news ul li{display:inline; width:210px; font:12px "宋体"; line-height: 20px; color:#666666;}
.news ul a:hover{color:#ff3366;}

.content .product02{height:240px; padding:0 0 0 13px;}
.product02 ul{float:left; width:235px; margin:30px 0 0 0;}
.product02 ul li{text-align:center; margin:0 0 25px 0;}
.product02 ul li img{width:160px; height:100px;}

.content .parnet{height: 140px; padding:60px 0 0 0; background:url(../img/hr.jpg) no-repeat;}
.parnet li{float: left; width:190px; text-align:center;}
/*产品类型*/
.blk_18 { overflow:hidden; zoom:1; font-size:9pt; height:210px; margin-top:8px; }
.blk_18 .pcont { width:880px; float:left; overflow:hidden; padding-left:5px; height:210px;}
.blk_18 .ScrCont { width:32766px; zoom:1; margin-left:5px; }
.blk_18 #List1_1, .blk_18 #List2_1 { float:left; }
.blk_18 .LeftBotton, .blk_18 .RightBotton {width:20px; height:36px; float:left; background:url(../img/ax.gif) no-repeat;margin:}
.blk_18 .LeftBotton { background-position: 0 0; margin:60px 5px 0; 0}
.blk_18 .RightBotton { background-position: 0 -36px; margin:60px 1px 10px 5px; }
.blk_18 .LeftBotton:hover { background-position: -19px 0; }
.blk_18 .RightBotton:hover { background-position: -19px -36px; }
.blk_18 .pl img { display:block; cursor:pointer; width: 120px; height: 140px; }
.blk_18 .pl { float:left; text-align:center; line-height:24px; margin:0 0 0 20px;}

/*banner*/
.indexBanner{ width:966px; height:420px; position:relative; overflow:hidden;}
.indexBanner .mask{width:885px; height:120px; padding: 0 80px 0 0; text-align:right; position:absolute; left:70px; top:330px; overflow:hidden;}
.indexBanner .mask img{margin-right:8px;border: solid 3px #fff; cursor:pointer; width:90px; height:70px;}
.indexBanner .mask img.show{margin-bottom:3px;border: solid 2px #077aa6;}
.indexBanner .bigImg{width:966px; height:420px;}